---
import MainLayout from "../layouts/MainLayout.astro";
import Kapitel from "../components/Kapitel.astro";
import StjerneUdfyldt from "../components/StjerneUdfyldt.astro"
import StjerneStroke from "../components/StjerneStroke.astro"
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
---
<MainLayout title="Titel">
	<!-- <article>
		<h1>Index overskrift</h1>
		<Button>Klik!</Button>
		<p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
	</article> -->
	<section class="grid md:grid-cols-2 pt-20 gap-20">
		<img src="src/assets/images/hero_billede.jpg" alt="billede af bogen">
		<article class="grid content-center">
			<h1>Københavnerbilleder - en guide til hipster foto</h1>
			<h2>af Sten Simons</h2>
			<p>Københavnerbilleder er de danske streetfotografers bibel: Det er en fusion mellem et kunstværk og en lærebog. Bogen gennemgår alle væsentlige aspekter af streetfotografering fra grundlæggende teknik til kreative eksperimenter. Alt sammen krydret med masser af inspirerende fotos. God læselyst!</p>
			<div>
				<button class="grid content-start">Knap</button>
			</div>
		</article>
	</section>
	<section class="md:flex justify-center pt-20">
		<article class="text-right">
			<p>Titel: Københavnerbilleder - en guide til hipster foto</p>
			<p>Forfatter: Sten Simons</p>
			<p>Antal sider: 344</p>
		</article>
		<article class="text-left">
			<p>Forlag: Mellem Linjerne</p>
			<p>ISBN: 987-6-987654-32-1</p>
			<p>Pris: 399.-</p>
		</article>
	</section>
	<section class="md:flex justify-center pt-20 gap-20">
		<div>
		<img src="src/assets/images/kobenhavnerbilleder_oppefra.jpg" alt="billede af bogen">
		</div>
		<div>
		<img src="src/assets/images/kobenhavnerbilleder_aaben_venstre.jpg" alt="billede af bogen">
		</div>
		<div>
		<img src="src/assets/images/kobenhavnerbilleder-sten-simons.jpg" alt="billede af bogen">
		</div>
	</section>
	<h2 class="pt-20">Kapitlerne</h2>
	<section class="md:flex justify-center gap-20">
		<article class="grid gap-10">
			<Kapitel kapitel="Kapitel 1 - Intro til street foto" tekst="Hvad er street foto? Det handler i bund og grund om at skyde byens liv og byens geometri (urban geometry). I dette kapitel får du en grundig intro til hvad street foto er og et overblik over nogen af de kendte street-fotografer. Alt krydret med en masse gode eksempler på street fotos."></Kapitel>
			<Kapitel kapitel="Kapitel 2 - Om at skyde street" tekst="Vil du skyde street? Så er der ikke nogen vej udenom: Du skal ud på gaderne og prøve det! I dette kapitel får du en teknisk indføring i hvordan du bedst skyder street. Uanset om du er begynder eller professionel, er der mange gode tekniske tips og tricks til street-skyderiet."></Kapitel>
			<Kapitel kapitel="Kapitel 3 - Om at finde det rette motiv" tekst="Indimellem er man heldig, andre gange kommer man hjem helt uden gode motiver. Med et par tips og tricks til at finde de rette motiver, stiger chancen gevaldigt for at fange de gode motiver."></Kapitel>
			<Kapitel kapitel="Kapitel 4 - Digital street foto" tekst="De fleste af os skyder oftest digitalt fordi det er billigere og nemmere. Og nogen teknikker og fremgangsmåder egner sig kun til digital street foto. I dette kapitel får du en række tips og tricks til digital street-foto."></Kapitel>
		</article>
		<article class="grid gap-10">
			<Kapitel kapitel="Kapitel 5 - Analog street foto" tekst="Analog er sejt fordi det er mere “ægte,” dyrere og mere besværligt end digital. Det signalerer entusiasme. Nogle teknikker og fremgangsmåder egner sig bedst til analog street foto. I dette kapitel får du en række tips og tricks til analog street-foto."></Kapitel>
			<Kapitel kapitel="Kapitel 6 - Om at skyde sort/hvid" tekst="Alle street-fotografer skyder sort/hvid nu og da. Nogen altid. Hvorfor? Hvad er der specielt ved sort/hvid fotografering, og hvad adskiller sort/hvid fra farvefotografering? Her får du en række tips og tricks til sort/hvid fotografering."></Kapitel>
			<Kapitel kapitel="Kapitel 7 - Kreative teknikker" tekst="Dobbelteksponeringer, ICM (intentional camera moves), smadrede objektiver, gamle filmruller og alle mulige andre, spændende kreative teknikker kan løfte dine fotografier fra at være kedelige dokumentationer af hverdagen til at blive vilde kunststykker. Så dyk ned i dette kapitel om eksperimenterende teknikker!"></Kapitel>
			<Kapitel kapitel="Kapitel 8 - Kom helt tæt på!" tekst="Street foto handler om at fotografere livet på gaden - men tør du at gå helt tæt på fremmede mennesker og knipse løs? Du kan lige så godt øve dig, for det er det der vil gøre dig til en bedre street-fotograf…"></Kapitel>
		</article>
	</section>
	<h2 class="pt-20">Pressen siger</h2>
	<section class="grid md:grid-cols-3 gap-20">
		<article>
			<div class="flex justify-center pb-4">
				<StjerneUdfyldt/>
				<StjerneUdfyldt/>
				<StjerneUdfyldt/>
				<StjerneUdfyldt/>
				<StjerneUdfyldt/>
				<StjerneStroke/>
			</div>
			<p>Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen.</p>
			<p>- Hanne Hovgaard, Berlingeren</p>
		</article>
		<article>
			<div class="flex justify-center pb-4">
				<StjerneUdfyldt/>
				<StjerneUdfyldt/>
				<StjerneUdfyldt/>
				<StjerneUdfyldt/>
				<StjerneStroke/>
			</div>
			<p>Teksten er underholdende, og billederne er sku’ flotte. Hvad mere skal man sige om en fotobog?</p>
			<p>- Kim Kloggaard, Fotojournalen.dk</p>
		</article>
		<article>
			<div class="flex justify-center pb-4">
				<StjerneUdfyldt/>
				<StjerneUdfyldt/>
				<StjerneUdfyldt/>
				<StjerneUdfyldt/>
				<StjerneUdfyldt/>
				<StjerneUdfyldt/>
			</div>
			<p>Sten Simons kan det der - og han bliver bedre og bedre. Stens tredje fotobog er klart den bedste - her er han for alvor i sit rette element, meget bedre end “studiefotografering som begyndere.” Tillykke - godt arbejde.</p>
			<p>- Volmer Hansen, Lukkertiden.dk</p>
		</article>
	</section>
	<h3 class="pt-20">Galleri</h3>
	<section class="grid md:grid-cols-4 gap-4 mx-auto w-full max-w-6xl">
		<img src="src/assets/images/baad.jpg" alt="billede fra bogen" class="w-72 h-72">
		<img src="src/assets/images/bygning.jpeg" alt="billede fra bogen" class="w-72 h-72">
		<img src="src/assets/images/kirke.jpg" alt="billede fra bogen" class="w-72 h-72">
		<img src="src/assets/images/metro_udefra.jpg" alt="billede fra bogen" class="w-72 h-72">
		<img src="src/assets/images/natteliv.jpg" alt="billede fra bogen" class="w-72 h-72">
		<img src="src/assets/images/orestad_2.jpg" alt="billede fra bogen" class="w-72 h-72">
		<img src="src/assets/images/skate.jpg" alt="billede fra bogen" class="w-72 h-72">
		<img src="src/assets/images/metro.jpg" alt="billede fra bogen" class="w-72 h-72">
		<img src="src/assets/images/stefan.jpg" alt="billede fra bogen" class="w-72 h-72">
		<img src="src/assets/images/skatepark.jpg" alt="billede fra bogen" class="w-72 h-72">
		<img src="src/assets/images/orestad.jpg" alt="billede fra bogen" class="w-72 h-72">
		<img src="src/assets/images/vinter.jpg" alt="billede fra bogen" class="w-72 h-72">
	</section>
	<h3>Forfatteren</h3>
	<section class="md:flex grid justify-center max-w-3xl mx-auto pt-20 gap-10">
		<article>
			<img src="src/assets/images/sten_simons.jpg" alt="billede af forfatteren">
		</article>
		<article class="content-start">
			<p>Sten Simons har en lang foto-karriere bag sig. Det hele startede i 00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens forfald. Det ledte til en række udstillinger, og blev senere til hans først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.
				”Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en masse dagligdagsstof fra Amager på dagbladet “Amagerkaneren.” Sideløbende begyndte han at undervise i foto, og har skrevet et utal af bøger, herunder bestsellerne Scener fra S-toget, Brun mad - en visuel odysse, og lærebogen Fotografering for evnesvage.</p>
		</article>
	</section>
	<h3>Køb Københavnerbilleder nu!</h3>
	<section class="max-w-3xl mx-auto pt-20">
		<form class="grid justify-center">
			<div>
            <label for="antal">Antal: </label>
            <input type="number" id="antal" placeholder="1">
        </div>
        <div>
            <input type="radio" id="postdk" value="PostDK">
            <label for="postDK">PostDK</label>
            <input type="radio" id="afhentselv" value="Afhent selv">
            <label for="afhentselv">Afhent selv</label>
        </div>
        <div>
            <input type="text" id="navn" placeholder="Navn">
        </div>
        <div>
            <input type="text" id="adresse" placeholder="Adresse">
        </div>
        <div>
            <input type="email" id="email" placeholder="E-mail">
        </div>
        <div>
            <input type="text" id="postnummer" placeholder="Postnr.">
            <input type="text" id="by" placeholder="By">
        </div>
        <div>
            <input type="tel" id="telefon" placeholder="Telefon">
        </div>
        <div>
            <input type="checkbox" id="nyhedsbrev" value="Ja tak til nyhedsbreve og tilbud">
            <label for="nyhedsbrev"> Ja tak til nyhedsbreve og tilbud</label>
        </div>
        <!-- <div>
            <input type="submit" value="Til betaling">
        </div> -->
        <div>
            <button type="submit">Fortsæt</button>
        </div>
		</form>
	</section>
</MainLayout>